<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>blogRead pages</title>
    </head>
    <body>
        <header>Header</header>
        <main>
            <h1>TITLE</h1>
            <p>Contents</p>
        </div>
        </main>
        <footer>Footer</footer>
    </body>
</html>
